@using Prep2Plate.Models
@model Prep2Plate.Models.Customers
@{
    ViewBag.Title = "Index Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstName</h2>
<h3>Please Login/Signup to continue.</h3>

