@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>

@{ var errorMessage = TempData["ErrorMessage"];
    if (errorMessage != null) {
        TempData["ErrorMessage"] = null;
    <h2 class="text-danger">
        @errorMessage
    </h2>
    }
    else
    {
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    }
}

