@model IEnumerable<Prep2Plate.Models.RecipeSearchResult>

@{
    ViewBag.Title = "Search Recipes";
}

<h2>Search Recipes</h2>
<!-- Add a Edit Box-->
<!-- Add a Search button-->
<!-- on click of the button | -->
@using (Html.BeginForm("OnSearchRecipe", "RecipesSearch")) {
    <input id="searchRecipe" type="text" name ="searchRecipe" size="100" placeholder="Search Recipe" /> 
    <input id="Search" type="submit" value="Search"/>
}

<table class="table">
    <tr>
        <th>Recipe Name</th>
        <th>Image</th>
    </tr>
   
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.RecipeName.ToString()
            </td>
            <td>
                <a href="@Url.Action("Details", "RecipesSearch", new { id=item.Id })" class="thumbnail">
                    <img src="@Url.Content(@item.ImageUrl)" />
                </a>
            </td>
        </tr>
    }

</table>
